body {
    background-color: black;
}
#outer {
    background-color: black;
    display: flex;
    justify-content: center;
}
#chat {
    width: 300px;
    height: 768px;
    flex-direction: column;
    margin-left: 10px;
    display: flex;
}
#chatinput {
    background-color: black;
    color: white;
    flex-shrink: 0;
}
#chatlog {
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: monospace;
    margin-bottom: 10px;
}
#chatlog > div {
    min-height: -moz-min-content;
    min-height: -webkit-min-content;
}
.chatname {
    color: white;
}
.chatme {
    color: green;
}
.chattext {
    color: white;
}
